@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  height: 100vh;
  position: relative;
  padding-bottom: 100px;
  margin-bottom: 100px;
  color: #000;

}

a {
  text-decoration: none;
  color: #000;
}

p {
  line-height: 1.7;
}

ul {
  list-style: none;
}

li {
  line-height: 2.2;
}

h1,
h2,
h3 {
  font-weight: 600;
  margin-bottom: 10px;
  text-transform: capitalize;

}

h2 {
  text-transform: capitalize;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-bottom: 1px solid #e6e6e6;
  margin-bottom: 60px;
  background: #ffffff;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  
}

.header ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header ul li {
  margin-left: 20px;
  margin-right: 20px;
}

.header ul li a {
  display: flex;
  align-items: center;
}

.header ul li a:hover {
  color: #777;
}

.header ul li a svg {
  margin-right: 5px;
}

.heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 50px;
  padding:  20px;
}

.heading p {
  color: #828282;
}

.goals {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.goal {
  background-color: #e6e6e6;
  margin: 10px 0;
  padding: 20px 0 10px;
  position: relative;
  border-radius: 10px;

}

 .close {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  border: none;
  background: none;
  font-size: 1.1rem;
  transition: all 0.3s ease;
}

.user {
  position : relative;
}


.form,
.content {
  width: 70%;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea,
.form-group select {
  width: 100%;
  padding: 10px;
  border: 1px solid #828282;
  border-radius: 5px;
  margin-bottom: 10px;
  font-family: inherit;
}

.form-group label {
  text-align: left;
  display: block;
  margin: 0 0 5px 3px;
}

.btn {
  padding: 10px 20px;
  border: 1px solid #000;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  appearance: button;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.btn svg {
  margin-right: 8px;
}

.btn-reverse {
  background: #fff;
  color: #000;
}

.btn-block {
  width: 100%;
  margin-bottom: 20px;
}

.btn:hover {
  transform: scale(0.98);
}

.loadingSpinnerContainer {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.085);
  z-index: 5000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}

.loadingSpinner {
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #000000 transparent #ff0000 transparent;
  border-radius: 50%;
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media (max-width: 600px) {
  .form {
    width: 90%;
  }

  .heading h1 {
    font-size: 2rem;
  }

  .heading p {
    font-size: 1.5rem;
  }
}


.userContainer {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
  gap: 10px;
  background-color: #e5e5e5;
  padding: 20px;
  border-radius: 10px;

}

.user {
  border: #000 2px solid;
  /* width: 100%; */
  padding: 20px;
  border-radius: 12px;

}

.you {
  background-color: #000;
  color: #fff;
  width: min-content;
  margin: 0 auto;
  padding: 3px 8px;
  border-radius: 5px;
}

.Footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar
{
	width: 3px;
	background-color: #F5F5F5;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgb(0, 0, 0);
	background-color: #000;
}

.body{
  padding-bottom: 100px;
}

.label {
  font-weight: bold;
}

.bubble-container {
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: -1000;
}

.bubbles {
  /* position: relative; */
  display: flex
}
.bbb {
  position: relative;
  width: 1.1vw;
  height:1.1vw;
  background: #0051ffcc;
  margin: 0 4px;
  border-radius: 50%;
  animation: animate 15s linear infinite;
  animation-duration: calc(520s / var(--i));
  box-shadow: 
    0 0 0 10px #1d65ff93,
    0 0 50px #1d65ff9c,
    0 0 100px #1d65ff2f;

  z-index: -1000;

  
}

 



.red {
    background: #ff2d76bd;
    box-shadow: 
    0 0 0 10px #ff2d7657,
    0 0 50px #ff2d764d,
    0 0 100px #ff2d763d;
  
}

.yellow {
    background: #e8e237;
    box-shadow: 
    0 0 0 10px #e8e33744,
    0 0 50px #e8e237a1,
    0 0 100px #e8e2378c;
  
}

.green {
    background: #00ff00d0;
    box-shadow: 
    0 0 0 10px #00ff0065,
    0 0 50px #00ff00a1,
    0 0 100px #00ff008c;
}

.purple {
    background: #ff00ff;
    box-shadow: 
    0 0 0 10px #ff00ff93,
    0 0 50px #ff00ffa9,
    0 0 100px #ff00ff8c;
}

@keyframes animate 
{
  0%    {transform: translateY(140vh) scale(0)}

  100%  {transform: translateY(-20vh) scale(1)}
}

.heading {
  background:#f3f3f3;
  border-radius: 10px;

}

.close:hover {
  color: red;
}

.title {
  margin-top: 10px;
  text-decoration: underline solid 2px

}

.logo {
  padding: 0 20px;
  font-weight: bolder;
  font-size: 1.5rem;
}

.loginIcon {
  margin-top: 10px;
  padding: 0;
}